<nav class="nav"> 
  <h1 class="Title">Tabelas de Alunos da Escola <span>AEVO</span></h1>
</nav>

<div class="container">
  <div class="card">
    <h5 class="card-header">| Pesquisar aluno |</h5>
    <input
      type="text"
      [(ngModel)]="aluno.nome"
      id="nome"
      name="nome"
      #model="ngModel"
      required
      class="form-control"
      placeholder="Digite o nome do Aluno"/>
    <div>
      <button
        type="submit"
        class="btn btn-success btn-procura"
        (click)="getAlunosByNome(aluno.nome)">
        Pesquisar
      </button>
      <button type="reset" class="btn btn-secondary" (click)="cleanForm(f)">
        Limpar
      </button>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of nome">
            <td>{{ aluno.id }}</td>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br /><br />

<div class="container">
  <div class="card">
    <h5 class="card-header">Lista de Alunos cadastrados</h5>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos">
            <td>{{ aluno.id }}</td>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.email }}</td>
            <td>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="deleteAlunos(aluno)">
                Deletar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <h5 class="card-header">Adicionar Aluno</h5>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            [(ngModel)]="aluno.nome"
            id="nome"
            name="nome"
            #model="ngModel"
            required
            class="form-control"
            placeholder="Digite o nome do Aluno"/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            [(ngModel)]="aluno.email"
            id="email"
            name="email"
            #color="ngModel"
            required
            class="form-control"
            placeholder="Digite o email do Aluno"/>
          <div class="invalid-feedback">
            <div>Email é obrigatório</div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-success"
          (click)="postAluno(aluno)">
          Salvar
        </button>
        <button type="reset" class="btn btn-secondary" (click)="cleanForm(f)">
          Limpar
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="card add-atualizar">
    <h5 class="card-header">| Atualizar Aluno |</h5>
    <div class="card-body">
      <form id="add-form" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="nomeatualizar">Matricula / ID</label>
          <input
            type="text"
            [(ngModel)]="aluno.id"
            id="id"
            name="id"
            #nomeatualizar="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
            placeholder="Digite o ID/Matricula do Aluno" />
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors.required">ID é obrigatório</div>
          </div>
        </div>

        <div class="form-group">
          <label for="nomeatualizar">Nome</label>
          <input
            type="text"
            [(ngModel)]="aluno.nome"
            id="nome"
            name="nome"
            #nomeatualizar="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
            placeholder="Digite o nome do Aluno"/>
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors.required">Nome do Aluno é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="color">email</label>
          <input
            type="text"
            [(ngModel)]="aluno.email"
            id="email"
            name="email"
            #color="ngModel"
            required
            class="form-control"
            placeholder="Digite o email do Aluno"/>
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="color.errors.required">Email é obrigatório</div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-success"
          (click)="updateAluno(aluno)">
          Salvar
        </button>
        <button type="reset" class="btn btn-secondary" (click)="cleanForm(f)">
          Limpar
        </button>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
